    
    <!-- Padding row-->
    <!-- <div class="row " style="height: 92.2vh;" > vh for viewport height -->
        <!-- <div class="col-8 col-lg-9 " style="background-color: bisque; height: 100%;" >
            <div class="card bg-light my-3 h-75" style="width: 100%;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Restaurant Name</h5>
                  <p class="card-text">Location: <a href="#">address</a> </p>
                </div>
                    <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">EVENT 1</li>
                    <li class="list-group-item">EVENT 2</li>
                    <li class="list-group-item">EVENT 3</li>
                    </ul>
                <div class="card-body text-center">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        <div class="col-4 col-lg-3 h-25 mt-3 " style="background-color: wheat;">
          <div class="col mx-1 border border-dark rounded" style="background-color: aliceblue;">
            <div class="row h3" > Tags:</div> -->
              <!-- an Array of components or code ts to add components here? -->
              <!-- <div class="row" >#tags holder</div>
            </div>
          </div>
    </div> -->
    



    <div *ngIf="loadedRestaurantInfo.length < 1 ">Restaurant not found</div>
    <div *ngIf="loadedRestaurantInfo.length != 0" class="row " style="height: 92.2vh; " > <!-- vh for viewport height -->
      <div class="col-sm-10 col-lg-9  border-right border-dark" style="background-color: bisque; height: 100%;" >
          <div class="container h-50">
            <div id="Restaurant_image" *ngFor="let restaurant of loadedRestaurantInfo"  class="row h-100 border-bottom border-dark align-items-end" style="padding-bottom: 0%; background-color:cornsilk;">
              
                  <h2>{{restaurant.name}}</h2>
                  <h5>{{restaurant.Location}}</h5>

              
            </div>
          </div>
       

          <div id="" class="row h-50 justify-content-center py-3">
              <div class="col-12 border-bottom border-dark text-center">
                <h1>Events</h1>

                <div class="row h-75 justify-content-center">
              
                  <div class="col border  border-dark text-center px-1"  *ngIf="loadedevents.length < 1">No Events</div>
                  
                  <div class="row h-100" *ngIf="loadedevents.length > 1">
                    <div *ngFor="let event of loadedevents">
                      <div class="col border border-dark text-center">
                        <p>{{event.title}}</p>
                        <p>{{event.description}}</p>
                    </div>
                  </div>
                  </div>

                </div> 

              </div>
              
          </div>
          
          <!-- <div id="event_cards" class="row justify-content-center py-3">
            <div class="col-8 border border-dark text-center">



              <div class="row justify-content-center py-3">

                <div class="col border border-dark text-center px-1" *ngIf="loadedevents.length < 1">No Events</div>
                <ul *ngIf="loadedevents.length > 1">
                  <div *ngFor="let event of loadedevents">
                    <div class="col border border-dark text-center px-1">
                      <p>Event Card</p>
                   </div>
                </div>
                </ul> 

                ^Loops through events list and generates html objects for each^
                <div class="col border border-dark text-center px-1">
                  <p>Event Card</p>
                </div>
                <div class="col border border-dark text-center px-1">
                    <p>Event Card</p>
                </div>
                <div class="col border border-dark text-center px-1">
                  <p>Event Card</p>
                </div>
                <div class="col border border-dark text-center px-1">
                <p>Event Card</p>
                </div>

              </div>



            </div>
            
        </div> -->

      </div>
      
      
      <div id="side_bar" class="col-sm-2 col-lg-3 " style="height: 92.2vh; background-color: wheat;">
        <div id="Tags_Container" class="col mx-1 border border-dark rounded" style="background-color: aliceblue;">
          <div id="Tags" class="row h3" > Tags:</div>
            <!-- an Array of components or code ts to add components here? -->
            <div *ngFor="let restaurant of loadedRestaurantInfo"  class="row" >
            
              <div *ngFor="let element of restaurant.tags">
                #{{element}}
              </div>  
              
            </div>
          </div>
        
          <div id="Description-Container" class="col h-75 mt-2 border border-dark rounded" style="background-color: aliceblue;">
            <div class="row h5">Descriptions:</div>
            <div *ngFor="let restaurant of loadedRestaurantInfo" class="row " >{{restaurant.description}} </div>
          </div>
      
        </div>
  
    </div>
  