    
    
    <div class="row" >
        <div class="col-8" style="background-color: bisque;" >
            <div class="card bg-light mb-3" style="width: 100%;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Restaurant Name</h5>
                  <p class="card-text">Location: <a href="#">address</a> </p>
                </div>
                    <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">EVENT 1</li>
                    <li class="list-group-item">EVENT 2</li>
                    <li class="list-group-item">EVENT 3</li>
                    </ul>
                <div class="card-body text-center">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        <div class="col-4" style="background-color: grey;">
            <div class="row h3"> Tags:</div>
            <!-- an Array of components or code ts to add components here? -->
            <div class="row" >#tags holder</div>
        </div>

    </div>
    
