



<div class="container-fluid" style="height: 87.2vh; margin: 0%;">
    <div class="row" style="height:100%">
        <div id="padding "class="col-1"></div>
        <div class="col-10" style="background-color: antiquewhite; height: 100%;">
           
            <div class="row h-25" style="background-color: aqua;">
                image
                <!-- {{loadedEvent.img_url}} -->
            </div>
            <div id="event-info" class="row mx-2 mt-1" style="background-color: azure; height: 25%;">
                <ul>
                    <ul>Location</ul>
                    <ul>Time</ul>
                    <ul>EventType</ul>
                </ul>
                
                
            </div>
            <div class="row " style="height: 50%;">
                <div class="col h-75 m-4" style="width: 90%; background-color:aqua">
                    description
                    <!-- {{loadedEvent.description}} -->
                </div>
                
                
            </div>
        </div>
        <div  id ="padding" class="col-1"></div>
    </div>
</div>
