



<div class="container-fluid" style="height: 87.2vh; margin: 0%;">
    <div class="row" style="height:100%">
        <div id="padding "class="col-1"></div>
        <div class="col-10" style="background-color: antiquewhite; height: 100%;">
            <div class="row h-25" style="background-color: aqua;">
                image
            </div>
            <div id="event-info" class="row h-75" style="background-color: azure;">
                info
            </div>
        </div>
        <div  id ="padding" class="col-1"></div>
    </div>
</div>
